.carrossel__titulo {
    color: var(--titulo-laranja);
    background-color: var(--branco-bg);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, 
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.card {
    background-color: var(--branco-bg);
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.descricao {
    padding: 0 0.5em 0 0;
}

.card__descricao__estrelas {
    padding: 0.3em 0;
}

.descricao__titulo {
    color: var(--titulo-laranja);
    font-weight: 700;
}

.descricao__titulo-livro {
    font-size: 18px;
    font-weight: 700;
    color: var(--azul-angular);
    margin: 0.5em 0;
}

.descricao__texto {
    font-size: 14px;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
}

.botoes__item {
    margin: 0 0.5em;
}

.botoes__ancora {
    text-decoration: none;
    background-color: var(--titulo-laranja);
    padding: 1em 2.30em;
    color:  var(--branco-bg);
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 26px;
        padding-top: 1.4em;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-prev, 
    .swiper-button-next {
        display: block;
        top: 60%; 
        
    }

    .card {
        width: 50%;
        margin: 2em auto;
    }
}

@media screen and (min-width: 1728px) {
    .carrossel__container {
        margin: 0 20vw 3em 20vw;
        display: flex;
        align-items: center;
        gap: 50px;
    }

    .swiper-pagination {
        margin: 1em 0;
    }

    .swiper {
        width: 50%;
    }

    .card {
        width: 60%;
        margin: 3em 1em 2em 1em;
    }

    .descricao {
        margin-right: 2em;
    }

    .descricao__titulo {
        font-size: 32px;
    }

    .descricao__texto {
        font-size: 16px;
    }
}